.profileButton {
  margin: 12px;
  position: absolute;
  z-index: 999;
  top: 100px;
  right: 180px;
}

.profileContainer {
  margin: 1rem 0;
}

.profileContainer .buddyListInfo {
  flex-wrap: wrap;
  padding: 1rem 2rem;
  display: block;
}

.profileContainer .buddyListDetails {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.profileContainer .buddyImage {
  text-align: center;
  margin-bottom: 2rem;
}

.profileContainer .buddyNumber {
  display: initial;
}

.profileContainer .signup {
  padding: 1rem 2rem;
}

.profileContainer .signup, .profileContainer .signup .cardContainer {
  display: flex;
  justify-content: center;
}

.profileContainer .signup .cardContainer {
  width: 1100px;
}

.inviteContainer {
  width: 1100px;
  max-width: 95%;
  min-width: 320px;
  margin: 0 auto;
}

.profileContainer .filterList {
  display: flex;
  flex-direction: column;
}

.invitePaper {
  padding: 1rem 2rem;
}

.profileContainer .formContainer {
  width: 50%;
  margin: 0 auto;
  padding: 1rem 0;
}