.profileButton {
  margin: 12px;
  position: absolute;
  z-index: 999;
  top: 100px;
  right: 100px;
}

.profileContainer {
  margin: 1rem 0;
}

.profileContainer .buddyListInfo {
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.profileContainer .buddyName, .profileContainer .buddyNumber, .profileContainer .buddyBudget, .profileContainer .buddyInterests, .profileContainer .buddyCuisines {
  flex-basis: 100%;
  padding: 1rem 0;
}

.profileContainer .buddyNumber {
  display: initial;
}

.profileContainer .signup {
  padding: 1rem 2rem;
}

.profileContainer .signup, .profileContainer .signup .cardContainer {
  display: flex;
  justify-content: center;
}

.profileContainer .signup .cardContainer {
  width: 1100px;
}

.inviteContainer {
  width: 1100px;
  max-width: 95%;
  min-width: 320px;
  margin: 0 auto;
}

.profileContainer .filterList {
  display: flex;
  flex-direction: column;
}