.lunchWrapper {
    width: 1100px;
    max-width: 95%;
    min-width: 320px;
    margin: 0 auto;
}

.lunchInfo {
    font-weight: bold;
    text-transform: uppercase;
}

.lunchBuddies li {
    display: flex;
    flex-direction: column;
}